body{
    background: -moz-linear-gradient(313deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 4%, rgba(255,102,51,0.9) 52%, rgba(251,95,54,0.9) 55%, rgba(235,63,70,0.9) 70%, rgba(232,58,72,0.9) 72%, rgba(228,49,76,0.9) 76%, rgba(204,0,102,0.9) 100%);
    background: -webkit-linear-gradient(313deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 4%, rgba(255,102,51,0.9) 52%, rgba(251,95,54,0.9) 55%, rgba(235,63,70,0.9) 70%, rgba(232,58,72,0.9) 72%, rgba(228,49,76,0.9) 76%, rgba(204,0,102,0.9) 100%);
    background: -o-linear-gradient(313deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 4%, rgba(255,102,51,0.9) 52%, rgba(251,95,54,0.9) 55%, rgba(235,63,70,0.9) 70%, rgba(232,58,72,0.9) 72%, rgba(228,49,76,0.9) 76%, rgba(204,0,102,0.9) 100%);
    background: -ms-linear-gradient(313deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 4%, rgba(255,102,51,0.9) 52%, rgba(251,95,54,0.9) 55%, rgba(235,63,70,0.9) 70%, rgba(232,58,72,0.9) 72%, rgba(228,49,76,0.9) 76%, rgba(204,0,102,0.9) 100%);
    background: linear-gradient(313deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 4%, rgba(255,102,51,0.9) 52%, rgba(251,95,54,0.9) 55%, rgba(235,63,70,0.9) 70%, rgba(232,58,72,0.9) 72%, rgba(228,49,76,0.9) 76%, rgba(204,0,102,0.9) 100%);

}

#top_bar{
	background-color:  rgba(0, 0, 0, 0);
	border-bottom: none;
}

.tab__item:not(#logo){
	color: white;
}

nav > ul > li:not(#logo){
	border-width: 3px;
	border-bottom: solid rgba(0, 0, 0, 0);
	
}

/*THIS IS THE ELEMENT WHICH IS AFFECTED BY THE RED COLOUR */
nav > ul > li:not(#logo):hover{
	border-bottom: solid whitesmoke;
	border-width: 3px;
	background-color:transparent;
}

#logo a:hover{
	color:white;

}

.page{
    border-top: solid transparent;
    border-width: 3px;
    vertical-align: middle;
}

#main_logo{
	font-family: 'Lobster', cursive;
	color: white;
	text-align: center;
	font-size: 100px;
	font-size: 16vw;
}

#tagline{
	font-family: 'Lobster';
	color: white;
	text-align: center;
	font-size: 40px;
	font-size: 4.5vw;
}

#getinvolved{
    display: block;
    width: 24vw;
    margin:0 auto;
    margin-top: 5vw;
}

#getinvolved ul{
    display: flex;
    justify-content: space-between;
}

#getinvolved ul li {
    display: inline-block;
}

/*TO CHANGE COLOR OF SIGNUP AND LOGIN BUTTONS*/
#getinvolved li a{
	color: rgba(47, 47, 46, 0.99);
	font-size: 3.2vw;
    font-family: Lobster;
    padding-bottom: 3px;
    border-bottom:solid transparent 3px;
}

#getinvolved li a:hover {
	text-decoration: none;
	color: rgba(47, 47, 46, 0.99);
	padding-bottom: 3px;
	border-bottom:dotted rgba(47, 47, 46, 0.99) 5px;
}

