{% extends 'base-welcome.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'signup/css/register.css' %}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block navigation%}

	<li id="logo"><a href="/" class="tab__item">WingMate</a></li>
	
{% endblock %}


{% block content %}

	<div class="box-1">
		<div class="box-2">

			<h1>Register</h1><br>

			<form method="post">
				{% csrf_token %}
				{% for field in form %}
				<div class="input-group">
					<label class="label-class">{{ field.label }}</label><br>
					{{ field }}
				</div>
				{% endfor %}
				<br>
				<button type="submit" class="btn btn-default">Sign Up</button>
			</form>

		</div>
	</div>

{% endblock %}
